<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hollybam.hollybam.dao.admin.IF_AdminBannerDao">
    <select id="getBannerList" resultType="map">
        SELECT
            banner_code as bannerCode,
            banner_url as bannerUrl,
            banner_order as bannerOrder,
            banner_click_event as bannerClickEvent
        FROM
            banner
        ORDER BY
            banner_order ASC;
    </select>

    <select id="getLastBannerOrder" resultType="int">
        SELECT MAX(banner_order) AS max_order
        FROM banner
    </select>

    <insert id="insBanner" parameterType="map">
        INSERT INTO banner
            (banner_url, banner_click_event, banner_order)
        SELECT
            #{url},
            #{event},
            IFNULL(MAX(banner_order), 0) + 1
        FROM
                (SELECT banner_order FROM banner) AS temp;
    </insert>

    <select id="selectBannerUrl" parameterType="int" resultType="String">
        select banner.banner_url
        from hollybam.banner
        where banner_code = #{bannerCode}
    </select>

    <delete id="deleteBanner" parameterType="int">
        delete
        from hollybam.banner
        where banner_code = #{bannerCode}
    </delete>

    <select id="getBannerOrder" resultType="int">
        SELECT banner_order
        FROM banner
        WHERE banner_code = #{bannerCode}
    </select>

    <update id="decrementOrdersAbove" parameterType="int">
        UPDATE banner
        SET banner_order = banner_order - 1
        WHERE banner_order > #{oldOrder}
    </update>
</mapper>