<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollybam.hollybam.dao.IF_CertificationDao">
    <select id="existsByUuid" resultType="int">
        SELECT COUNT(*) FROM guest_user WHERE guest_uuid = #{uuid}
    </select>

    <insert id="insertGuestUser">
        INSERT INTO guest_user (
            guest_uuid, guest_birth, guest_gender, guest_phone,
            is_adult_verified, adult_verified_at
        ) VALUES (
                     #{uuid}, #{birth}, #{gender}, #{phone},
                     #{isAdult}, NOW()
                 )
    </insert>
</mapper>
