<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollybam.hollybam.dao.IF_LoginDao">

    <!-- 로그인 -->
    <select id="login" parameterType="com.hollybam.hollybam.dto.MemberDto" resultType="int">
        select count(*) from member where mem_id = #{memberId} and mem_pw = #{memberPw}
    </select>

    <!-- session에 담기 위한 사용자 정보 sel -->
    <select id="getMemberInfo" parameterType="String" resultType="com.hollybam.hollybam.dto.MemberDto">
        select mem_code as memberCode, mem_name as memberName, mem_id as memberId, mem_pw as memberPw, mem_addr as memberAddr, mem_zip as memberZip, mem_phone as memberPhone, mem_mail as memberMail, mem_birth as memberBirth, mem_gender as memberGender, create_at as createAt, update_at as updateAt
        from member
        where mem_id = #{memberId}
    </select>


</mapper>
