<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollybam.hollybam.dao.IF_MypageDao">

    <update id="updateMember" parameterType="com.hollybam.hollybam.dto.MemberDto">
        UPDATE member
        SET mem_pw = #{memberPw}
        WHERE mem_code = #{memberCode}
    </update>

    <select id="selectMemberPoint" parameterType="int" resultType="int">
        SELECT IFNULL(SUM(point_change), 0)
        FROM point
        WHERE mem_code = #{memberCode}
    </select>


    <select id="selectMemberAddPoint" parameterType="int" resultType="int">
        SELECT IFNULL(SUM(point_change), 0) AS total_saved_points
        FROM point
        WHERE mem_code = #{memCode}
          AND point_change &gt; 0
          AND created_at &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
          AND created_at &lt; DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01')
    </select>

    <select id="selectMemberUsePoint" parameterType="int" resultType="int">
        SELECT IFNULL(SUM(ABS(point_change)), 0) AS total_used_points
        FROM point
        WHERE mem_code = #{memCode}
          AND point_change &lt; 0
          AND created_at &gt;= DATE_FORMAT(CURDATE(), '%Y-%m-01')
          AND created_at &lt; DATE_FORMAT(DATE_ADD(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01')
    </select>


</mapper>
