<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollybam.hollybam.dao.IF_ProductDao">

    <!-- 0 -->
    <select id="isProductCode" parameterType="String" resultType="int">
        select count(*)
        from product
        where product_id = #{code}
    </select>

    <!-- 1. Product 테이블에 삽입 -->
    <insert id="insertProduct" parameterType="com.hollybam.hollybam.dto.CategoryDto">
        <foreach collection="categoryDetailDto" item="detail">
            <foreach collection="detail.productList" item="product">
                INSERT INTO product (
                cate_code,
                cd_code,
                product_active,
                product_quantity,
                product_description,
                product_name,
                product_id
                ) VALUES (
                #{categoryCode},         <!-- from CategoryDto -->
                #{detail.cateDetailCode},<!-- from CategoryDetailDto -->
                #{product.productActive},<!-- from ProductDto -->
                #{product.productQuantity},
                #{product.productDescription},
                #{product.productName},
                #{product.productId}
                );
            </foreach>
        </foreach>
    </insert>

    <!-- 1.5 ProductCode select -->
    <select id="getProductCode" parameterType="com.hollybam.hollybam.dto.ProductDto" resultType="int">
        select product.product_code from product where product_id = #{productId}
    </select>

    <!-- 2. Price 테이블에 삽입 -->
    <insert id="insertPrice" parameterType="com.hollybam.hollybam.dto.ProductDto">
        <foreach collection="priceDtoList" item="price">
            INSERT INTO price (product_code, price_original, price_cost, price_selling, price_margin)
            VALUES (#{productCode}, #{price.priceOriginal}, #{price.priceCost}, #{price.priceSelling}, #{price.priceMargin})
        </foreach>
    </insert>

    <!-- 3. Image 테이블에 삽입 -->
    <insert id="insertImage" parameterType="com.hollybam.hollybam.dto.ProductDto">
            INSERT INTO image (product_code, image_url, image_type, image_order) VALUES
        <foreach collection="imageDtoList" item="img" separator=",">
            (#{productCode}, #{img.imageUrl}, #{img.imageType}, #{img.imageOrder})
        </foreach>
    </insert>

    <!-- 4. 상품 옵션 저장 -->
    <insert id="insertProductOptions" parameterType="com.hollybam.hollybam.dto.ProductDto">
        INSERT INTO product_option (
        product_code,
        option_name,
        option_value,
        option_price,
        option_quantity
        ) VALUES
        <foreach collection="productOptionDtoList" item="option" separator=",">
            (
            #{productCode},
            #{option.optionName},
            #{option.optionValue},
            #{option.optionPrice},
            #{option.optionQuantity}
            )
        </foreach>
    </insert>

    <!-- ProductDto 전체 구조 -->
    <resultMap id="ProductResultMap" type="com.hollybam.hollybam.dto.ProductDto">
        <id property="productCode" column="product_code" />
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name" />
        <result property="productDescription" column="product_description" />
        <result property="productOrderCount" column="product_order_count" />

        <!-- priceDtoList는 단일 항목이므로 하나만 매핑 -->
        <collection property="priceDtoList" ofType="com.hollybam.hollybam.dto.PriceDto">
            <result property="priceOriginal" column="price_original" />
            <result property="priceSelling" column="price_selling" />
        </collection>

        <!-- imageDtoList도 단일 항목만 매핑 -->
        <collection property="imageDtoList" ofType="com.hollybam.hollybam.dto.ImageDto">
            <result property="imageUrl" column="title_image_url" />
            <result property="imageWebp" column="webp_image_url"/>
        </collection>
    </resultMap>

    <!-- 베스트 상품 리스트 -->
    <select id="selectBestProducts" resultMap="ProductResultMap">
        SELECT
            p.product_code,
            p.product_id,
            p.product_name,
            p.product_description,
            p.product_order_count,
            pr.price_original,
            pr.price_selling,
            title_img.image_url AS title_image_url,
            webp_img.image_url AS webp_image_url
        FROM
            product p
                JOIN price pr ON p.product_code = pr.product_code
                LEFT JOIN image title_img ON p.product_code = title_img.product_code AND title_img.image_type = 'title'
                LEFT JOIN image webp_img ON p.product_code = webp_img.product_code AND webp_img.image_type = 'webp'
        ORDER BY p.product_order_count DESC
    </select>

    <!-- 상품 상세페이지 기본 정보 조회 -->
    <select id="getProductDetailInfo_first" resultMap="ProductResultMap" parameterType="String">
        SELECT
            p.product_code,
            p.product_id,
            p.product_name,
            p.product_description,
            pr.price_original,
            pr.price_selling,
            title_img.image_url AS title_image_url
        FROM
            product p
                JOIN price pr ON p.product_code = pr.product_code
                LEFT JOIN image title_img ON p.product_code = title_img.product_code AND title_img.image_type = 'title'
        WHERE p.product_id=#{productId}
    </select>

    <!-- 상품 상세페이지 썸네일 조회 -->
    <select id="getProductInfoThumbnail" resultType="com.hollybam.hollybam.dto.ImageDto" parameterType="com.hollybam.hollybam.dto.ProductDto">
        SELECT *
        FROM image
        WHERE product_code = #{productCode}
          AND image_type = 'thumbnail'
        ORDER BY image_order ASC
    </select>

    <!-- 상품 상세페이지 content 조회 -->
    <select id="getProductInfoContent" resultType="com.hollybam.hollybam.dto.ImageDto" parameterType="com.hollybam.hollybam.dto.ProductDto">
        SELECT *
        FROM image
        WHERE product_code = #{productCode}
          AND image_type = 'content'
        ORDER BY image_order ASC
    </select>

    <select id="getProductOptions" parameterType="int" resultType="com.hollybam.hollybam.dto.ProductOptionDto">
        SELECT
            option_code,
            option_name,
            option_value,
            option_price,
            option_quantity
        FROM product_option
        WHERE product_code = #{productCode}
        ORDER BY option_name, option_code
    </select>

</mapper>
