<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hollybam.hollybam.dao.IF_SignupDao">

    <!-- 사용자 아이디 중복확인 -->
    <select id="dupCheckId" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM member WHERE mem_id = #{id}
    </select>

    <!-- 회원 정보 ins -->
    <insert id="signup" parameterType="com.hollybam.hollybam.dto.MemberDto">
        INSERT INTO member (mem_id, mem_pw, mem_name, mem_addr, mem_zip, mem_phone, mem_mail, mem_birth, mem_gender, mem_login_type, di, is_adult_verified, adult_verified_at)
        VALUES (#{memberId}, #{memberPw}, #{memberName}, #{memberAddr}, #{memberZip}, #{memberPhone}, #{memberMail}, #{memberBirth}, #{memberGender}, #{memberLoginType}, #{di}, 1, #{adultVerifiedAt})
    </insert>

    <select id="login" parameterType="com.hollybam.hollybam.dto.MemberDto" resultType="int">
        select count(*) from member where mem_id = #{memberid} and mem_pw = #{memberPw}
    </select>

    <select id="getMemberInfo" parameterType="String" resultType="com.hollybam.hollybam.dto.MemberDto">
        select mem_code as memberCode, mem_name as memberName, mem_id as memberId, mem_pw as memberPw, mem_addr as memberAddr, mem_zip as memberZip, mem_phone as memberPhone, mem_mail as memberMail, mem_birth as memberBirth, mem_gender as memberGender, create_at as createAt, update_at as updateAt
        from member
        where mem_id = #{memberId}
    </select>

    <delete id="deleteGuestByDi" parameterType="String">
        DELETE FROM guest WHERE guest_di = #{di}
    </delete>

    <select id="getGuestCartCount" parameterType="com.hollybam.hollybam.dto.GuestDto" resultType="int">
        select count(*)
        from cart
        where guest_code = #{guestCode}
    </select>

    <select id="getGuestWishCount" parameterType="com.hollybam.hollybam.dto.GuestDto" resultType="int">
        select count(*)
        from wishlist
        where guest_code = #{guestCode}
    </select>

    <select id="getGuestOrderCount" parameterType="com.hollybam.hollybam.dto.GuestDto" resultType="int">
        select count(*)
        from orders
        where guest_code = #{guestCode}
    </select>

    <select id="getGuestInquiryCount" parameterType="com.hollybam.hollybam.dto.GuestDto" resultType="int">
        select count(*)
        from inquiry
        where guest_code = #{guestCode}
    </select>

    <update id="updateGuestToMemberCart" parameterType="com.hollybam.hollybam.dto.GuestDto">
        update cart
        set mem_code = #{memberCode},
            guest_code = null
        where guest_code = #{guestCode}
    </update>

    <update id="updateGuestToMemberWishList" parameterType="com.hollybam.hollybam.dto.GuestDto">
        update wishlist
        set mem_code = #{memberCode},
            guest_code = null
        where guest_code = #{guestCode}
    </update>

    <update id="updateGuestToMemberOrder" parameterType="com.hollybam.hollybam.dto.GuestDto">
        update orders
        set mem_code = #{memberCode},
            guest_code = null
        where guest_code = #{guestCode}
    </update>

    <update id="updateGuestToMemberInquiry" parameterType="com.hollybam.hollybam.dto.GuestDto">
        update inquiry
        set mem_code = #{memberCode},
            guest_code = null
        where guest_code = #{guestCode}
    </update>

    <select id="getMemberCode" resultType="int" parameterType="String">
        select mem_code
        from member
        where mem_id = #{memberId}
    </select>

    <select id="getSignupCouponCode" resultType="int">
        select coupon.coupon_code
        from coupon
        where coupon_id = 'welcome'
    </select>

    <insert id="insertSignupCoupon" parameterType="int">
        insert into coupon_member(coupon_code, mem_code, issued_at, used)
        values(#{signupCouponCode}, #{memberCode}, NOW(), 0)
    </insert>

    <select id="isRecodeSignup" parameterType="String" resultType="int">
        select count(*)
        from member
        where di=#{di}
    </select>

    <select id="getMemberType" parameterType="String" resultType="String">
        select mem_login_type
        from member
        where di = #{di}
    </select>

</mapper>
